body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive; /* Use a retro font */
    background-color: #3c1263; /* Dark background */
}
#game-title {
    color: #ff0055; /* Neon pink text color */
    margin: 10px 0; /* Add some margin for spacing */
    font-size: 24px; /* Adjust font size */
    text-align: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    width: 320px; /* Adjusted to fit the play area and gaps */
    height: 400px;
    border: 1px solid #ff0055; /* Neon pink border */
    align-items: center; /* Center the contents horizontally */
    background-color: #2b2b2b; /* Darker background for the container */
}

#play-area {
    width: 310px; /* 3 cells * 100px + 2 gaps * 5px */
    height: 310px; /* 3 cells * 100px + 2 gaps * 5px */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #ff0055; /* Neon pink border */
    
    background-color: #1a1a1a; /* Dark background for the play area */
    margin-left: -5px; /* Shift the play area 5px to the left */
}

.cell {
    border: 1px solid #ff0055; /* Neon pink border */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    width: 100px;
    height: 100px;
    transition: background-color 0.3s;
    color: #00ffea; /* Neon cyan text color */
}

.cell-hover:hover {
    background-color: #ff0055; /* Neon pink hover effect */
}

#controls {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-cell {
    color: #ff0055; /* Neon pink for X */
}

.o-cell {
    color: #00ffea; /* Neon cyan for O */
}

#reset-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    background-color: #ff0055; /* Neon pink background */
    color: #1a1a1a; /* Dark text color */
    font-weight: bold;
    border-style: ridge;
    border-width: 3px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Press Start 2P', cursive; /* Use the same retro font */
}

#reset-button:hover {
    background-color: #00ffea; /* Neon cyan hover effect */
    color: #1a1a1a; /* Dark text color */
}
.winning-cell {
    background-color: #7025b6; /* Neon pink background for winning cells */
    color: #ff42a0; /* Dark text color for contrast */
}